{% extends "admin_navbar.html" %}
{% block title %}
Quick Serve
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color:#eeeeee">
	<div class="container" >
		<div class="row m-0 p-2 pt-3">
			<div class="col-md-6 col-12 m-auto">
				<img src="{{url_for('static', filename='management.png')}}" width="80%" >
			</div>
			<div class="col-md-6 col-12 m-auto">
				<h1 style="color:#00b1ff">Welcome Admin!!</h1>
				<p style="font-size: 19px;">
					One cannot think well, love well, sleep well, if not has not dined well.
				</p>

			</div>

		</div>
	  
	</div>
  </div>
<br>
<h2 style="text-align: center;color:#91612F; text-decoration: underline;" class="mt-3">Restaurant with access: "Not Given"</h2>
<div class="row m-0 p-4 mt-4">
{% for i in x %}
<div class = "col-md-4 col-12  p-3">
	<div class="card mb-3 h-100 m-auto " >
	  <div class="card-body ">
	    <h5 class="card-title">{{i[1]}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{i[3]}}</h6>
	    <p class="card-text">{{i[2]}}</p>
        <form action="/admin?button=res" method="post">
            <input type="hidden" name="itemId" value="{{i[0]}}">
            <button type="submit" class="btn btn-primary">Give Access</button>
        </form>
	  </div>
	</div>
</div>
{% endfor %}
<br>
<h2 style="text-align: center;color:#91612F; text-decoration: underline;" class="mt-3">Delivery Worker Info</h2>
<div class="row m-0 p-4 mt-4">
{% for i in y %}
<div class = "col-md-4 col-12  p-3">
	<div class="card mb-3 h-100 m-auto " >
	  <div class="card-body ">
	    <h5 class="card-title">Worker Id: {{i[0]}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Name: {{i[1]}}</h6>
	    <p class="card-text">Phone No: {{i[2]}}</p>
        <p class="card-text">Address: {{i[3]}}</p>
        <br/>
        <p class="card-text">Salary: {{i[5]}}</p>
        <form action="/admin?button=work" method="post">
            <label for="salary">Update Salary:</label>
            <input type="number" id="salary" name="salary" class="form-control" value="1" min="1">
			<input type="hidden" name="itemId" value="{{i[0]}}">
			<button type="submit" class="btn btn-primary">Update</button>
        </form>
	  </div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}