<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{% block content %}
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Thank You {{name}}!</h1>
            <p class="lead">Your order has been placed.</p>
            <!-- Display the amount to be paid (replace 'amount' with the actual amount) -->
            <p>The total amount to be paid is: Rs <span id="amount">{{amnt}}</span></p>
            <p>Your order will be delivered at: <span id="address">{{address}}</span></p>
            <p>Selected mode of payment: <span id="address">{{payment}}</span></p>
            <!-- Button to continue browsing -->
            <form action="/customer" method="post">
                <input type="hidden" name="itemId">
                <button type="submit" class="btn btn-primary">Continue Browsing</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
</html>