<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Food Ordering Login</title>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-color: #f0f0f0;
    }
    .container {
        max-width: 400px;
        margin-top: 100px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
</style>
</head>
<body>

<div class="container">
    <h2 class="text-center mb-4">Login</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <select class="form-control" id="dropdown" name="dropdown">
                <option value="" disabled>Select your role</option>
                <option value="customer">Customer</option>
                <option value="restaurant">Restaurant</option>
                <option value="delivery_worker">Delivery Worker</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="phone_no" placeholder="Phone No" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <form action="/restaurant" method="post">
            <input type="hidden" name="itemId" value="login">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </form>
    <p class="mt-3 text-center">Don't have an account? <a href="signup">Sign Up</a></p>
    {% if message %}
    <p class="mt-3 text-center" style="color: red;">{{ message }}</p>
    {% endif %}
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
